{% extends 'base.html' %}
{% load static %}


{% block content %} 

<div class="container">


<h1>Products<h1>
    
    <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
    {% if product_list %}

        {% for product in product_list %}
            <div class="card" style="width: 15rem;">
                <img src="{{product.picture.url}}" class="card-img-top" alt="">

                <div class="card-body">
                    <h4 class="card-title">{{product.name}}</h4>
                    <div class="price">
                        <h4 class="card-price">£{{product.price}}</h4>
                    </div>
                    <button data-product="{{product.id}}" data-action="add" class="btn btn-primary add-btn update-cart">Add to Cart</button>
                    <a class="btn btn-outline-dark" href="{% url 'shop:product_detail' pk=product.pk %}">View</a>
                </div>
            </div>

        {% endfor %}

    {% endif %}
    </div>
</div>

{% endblock %}