{% extends 'base.html' %}
{% load static %}


{% block content %} 

<div class="container">


<h1>Products<h1>
    
    <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
    {% if product_list %}

        {% for product in product_list %}
            <div class="card" style="width: 15rem;">
                <img src="{{product.picture.url}}" class="card-img-top" alt="">

                <div class="card-body">
                    <h4 class="card-title">{{product.name}}</h4>
                    <div class="price">
                        <p class="card-price">{{product.price}}</p>
                        <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>
                </div>
            </div>

        {% endfor %}

    {% endif %}
    </div>
</div>

{% endblock %}